/*!
 * 3D Earth v1.0.0
 * Authors: Ed Duarte - eduardo.miguel.duarte@gmail.com // Pedro Bordonhos - bordonhos@ua.pt
 * Date: 23 April 2015
 */

body {
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

p, div, button {
	font-family: 'Raleway', sans-serif;
}

table.right {
    width: auto;
    margin-left: auto;
    margin-right: 0px;
}

#parameters {
	position: fixed;
	left: 0;
	bottom: 0;
	margin: 6px;
	width: 400px;
	height: 415px;
}

#credits {
	width: 420px;
	height: 120px;
	bottom: 0;
	right: 0;
	margin: 20px;
	position: fixed;
	color: red;
	font-size: 12px;
}

#search {
	width: 240px;
	position: fixed;
	top: 0;
	left: 0;
	margin: 6px;
}

#searchfield {
	width: 240px;
}

#grad1 {
	width: 90px;
    height: 20px;
    background: -webkit-linear-gradient(left, #AA4439, #2B803E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #AA4439, #2B803E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #AA4439, #2B803E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #AA4439 , #2B803E); /* Standard syntax (must be last) */
}

#grad2 {
	width: 90px;
    height: 20px;
    background: -webkit-linear-gradient(left, #D4B36A , #505F8F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #D4B36A, #505F8F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #D4B36A, #505F8F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #D4B36A , #505F8F); /* Standard syntax (must be last) */
}

#sliderPopulation .noUi-connect {
}

#sliderDensity .noUi-connect {
	background: #AA7039;
}

#sliderBirth .noUi-connect {
	background: #2B803E;
}

#sliderDeath .noUi-connect {
	background: #AA4439;
}

.autocomplete-suggestions {
	font-weight: normal;
	font-size: 18px;
	background: #34495E;
	overflow: auto;
}

.autocomplete-suggestion {
	color: #ddd;
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	padding: 10px;
}

.autocomplete-selected {
	color: #ddd;
	background: #20374D;
}

.autocomplete-suggestions strong {
	font-weight: 900;
	color: #ddd;
}

.autocomplete-selected strong {
	font-weight: 900;
	color: #ddd;
}

.autocomplete-group {
	padding: 2px 5px;
}

.autocomplete-group strong {
	display: block;
	border-bottom: 1px solid #000;
}
